<a href="https://colab.research.google.com/github/Narasimha18BBTCS058/Data-analysis-in-Python/blob/main/DAP_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
    str = "Prithvi"  
    for i in str:  
        print(i)

P
r
i
t
h
v
i

In [ ]:
    list = [1,2,3,4,5,6,7,8,9,10]  
    n = 6 
    for i in list:  
        c = n*i  
        print(n," *",i, " =", c)

6  * 1  = 6
6  * 2  = 12
6  * 3  = 18
6  * 4  = 24
6  * 5  = 30
6  * 6  = 36
6  * 7  = 42
6  * 8  = 48
6  * 9  = 54
6  * 10  = 60

In [ ]:
    list = [10,30,23,43,65,12]  
    sum = 0  
    for i in list:  
        sum = sum+i  
    print("The sum is:",sum)

The sum is: 183

In [ ]:
    for i in range(14):  
        print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13

In [ ]:
    n = int(input("Enter the number "))  
    for i in range(1,11):  
        c = n*i  
        print(n,"*",i,"=",c)

Enter the number 25
25 * 1 = 25
25 * 2 = 50
25 * 3 = 75
25 * 4 = 100
25 * 5 = 125
25 * 6 = 150
25 * 7 = 175
25 * 8 = 200
25 * 9 = 225
25 * 10 = 250

In [ ]:
    n = int(input("Enter the number "))  
    for i in range(2,n,2):  
        print(i)

Enter the number 10
2
4
6
8

In [2]:
    list = ['Peter','prithvi','Ricky','Devansh']  
    for i in range(len(list)):  
        print("Hello",list[i])

Hello Peter
Hello prithvi
Hello Ricky
Hello Devansh

In [ ]:
    for i in range(0,4):    
        print(i)    
    else:  
        print("for loop completely exhausted, since there is no break.")

0
1
2
3
for loop completely exhausted, since there is no break.

In [ ]:
    for i in range(0,2):    
        print(i)    
        print("bye")
        continue;    
        print("hello")
    else:print("for loop is exhausted");    
    print("The loop is broken due to break statement...came out of the loop")

0
bye
1
bye
for loop is exhausted
The loop is broken due to break statement...came out of the loop

In [3]:
    # prints all letters except 'a' and 't'   
    i = 0  
    str1 = 'prithvi'  
    print(str1)
    while i < len(str1):
        print('entered while loop before if statement')
        if str1[i] == 'a' or str1[i] == 'u':   
            print('entered if statement')
            i += 1  
            print('i incremented')
            continue  
            print('after continue')
        print('Current Letter :', str1[i])   
        i += 1 
        print('going back to starting of while loop')

prithvi
entered while loop before if statement
Current Letter : p
going back to starting of while loop
entered while loop before if statement
Current Letter : r
going back to starting of while loop
entered while loop before if statement
Current Letter : i
going back to starting of while loop
entered while loop before if statement
Current Letter : t
going back to starting of while loop
entered while loop before if statement
Current Letter : h
going back to starting of while loop
entered while loop before if statement
Current Letter : v
going back to starting of while loop
entered while loop before if statement
Current Letter : i
going back to starting of while loop

In [4]:
i = 0  
str1 = 'prithvi'   
while i < len(str1):   
    if str1[i] == 'n':   
        i += 1  
        break  
    print('Current Letter :', str1[i])   
    i += 1

Current Letter : p
Current Letter : r
Current Letter : i
Current Letter : t
Current Letter : h
Current Letter : v
Current Letter : i

In [5]:
#The pass statement is used to declare the empty loop. 
#It is also used to define empty class, function, and control statement.

str1 = 'prithvi'  
i = 0    
while i < len(str1):   
    i += 1  
    pass  
print('Value of i :', i)

Value of i : 7

In [ ]:
    i=1  
    #The while loop will iterate until condition becomes false.  
    while(i<=10):    
        print(i)   
        i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
    i=1    
    number = int(input("Enter the number:"))    
    while i<=10:    
        print("%d X %d = %d \n"%(number,i,number*i))    
        i = i+1

Enter the number:25
25 X 1 = 25

25 X 2 = 50

25 X 3 = 75

25 X 4 = 100

25 X 5 = 125

25 X 6 = 150

25 X 7 = 175

25 X 8 = 200

25 X 9 = 225

25 X 10 = 250

In [ ]:
      var = 1    
      while(var != 2):    
        i = int(input("Enter the number:"))    
        print("Entered value is %d"%(i))

Entered value is 12

In [ ]:
i=1   
while(i<=5):    
    print(i)    
    i=i+1    
else:  
    print("The while loop exhausted")

1
2
3
4
5
The while loop exhausted

In [ ]:
i=1    
while(i<=5):    
    print(i)    
    i=i+1    
    if(i==3):    
        break   
else:  
    print("The while loop exhausted")
print("bye bye")

1
2
bye bye

In [ ]:
    list =[1,2,3,4]  
    i=1;
    count = 1;  
    for i in list:  
        if i == 4:  
            print("item matched")  
            count = count + 1;  
            break  
    print("found at",count,"location");

item matched
found at 2 location