<a href="https://colab.research.google.com/github/Narasimha18BBTCS058/Data-analysis-in-Python/blob/main/DAP_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5, 6, 7 ];
print ("list1[0]: ", list1[2])
print ("list2[1:5]: ", list2[1:3])

list1[0]:  1997
list2[1:5]:  [2, 3]

In [ ]:
list = ['physics', 'chemistry', 1997, 2000];
print ("Value available at index 2 : ")
print (list[2])
list[2] = 999999;
print ("New value available at index 2 : ")
print (list[2])

Value available at index 2 :
1997
New value available at index 2 :
999999

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000];
print (list1)
del (list1[2]);
print ("After deleting value at index 2 :")
print (list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [ ]:
list1, list2 = [123, 'xyz', 'zara'], [456, 'abc']
print ("First list length : ", len(list1))
print ("Second list length : ", len(list2))

First list length :  3
Second list length :  2

In [1]:
aList = ['prithvi', 'reddy', '001', 'CSE'];
aList.append( 2000 );
print ("Updated List : ", aList)
bList = ['DAP', 'IAT1'];
aList.extend(bList)
print("Extended List is : ", aList)
aList.insert(3, 2021)
print("After insertion, List is : ", aList)
aList.remove(2000);
print ("Final List : ", aList)

Updated List :  ['prithvi', 'reddy', '001', 'CSE', 2000]
Extended List is :  ['prithvi', 'reddy', '001', 'CSE', 2000, 'DAP', 'IAT1']
After insertion, List is :  ['prithvi', 'reddy', '001', 2021, 'CSE', 2000, 'DAP', 'IAT1']
Final List :  ['prithvi', 'reddy', '001', 2021, 'CSE', 'DAP', 'IAT1']

In [ ]:
aList = [123, 'xyz', 'xyz', 'abc', 123];
print ("Count for xyz : ", aList.count('xyz'))
print ("Count for zara : ", aList.count('zara'))

In [2]:
aList = [123, 'xyz', 'zara', 'abc', 123];
bList = [2009, 'prithvi'];
aList.extend(bList)
print ("Extended List : ", aList)

Extended List :  [123, 'xyz', 'zara', 'abc', 123, 2009, 'prithvi']

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 'zara'];
print ("Index for xyz : ", aList.index( 'xyz' ) )
print ("Index for zara : ", aList.index( 'zara' ) )

Index for xyz :  1
Index for zara :  2

In [ ]:
aList = [123, 'xyz', 'zara', 'abc']
aList.insert( 3, 2009)
print ("Final List : ", aList)

Final List :  [123, 'xyz', 'zara', 2009, 'abc']

In [ ]:
aList = [123, 'xyz', 'zara', 'abc'];

print(aList)

print ("List after popping last element : ", aList.pop())

print(aList)

print ("List after popping element from mentioned index: ", aList.pop(2))

print(aList)

aList.insert(3, 2009)

print(aList)

[123, 'xyz', 'zara', 'abc']
List after popping last element :  abc
[123, 'xyz', 'zara']
List after popping element from mentioned index:  zara
[123, 'xyz']
[123, 'xyz', 2009]

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 'xyz'];
aList.remove('xyz');
print ("List : ", aList)
aList.remove('abc');
print ("List : ", aList)

List :  [123, 'zara', 'abc', 'xyz']
List :  [123, 'zara', 'xyz']

In [3]:
aList = ['prithvi', 'xyz', 'zara', 'abc', 'nive'];
aList.reverse();
print ("List : ", aList)

List :  ['nive', 'abc', 'zara', 'xyz', 'prithvi']

In [4]:
aList = ['naveen', 'prithvi', 'sonia', 'ali', 'nive'];
aList.sort();
print ("List : ", aList)

List :  ['ali', 'naveen', 'nive', 'prithvi', 'sonia']

In [ ]:
aList = [123, 'xyz', 'zara', 'abc', 'xyz'];
aList.sort();
print ("List : ", aList)

TypeError: ignored