<a href="https://colab.research.google.com/github/Narasimha18BBTCS058/Data-analysis-in-Python/blob/main/Pandas_Function_and_lamba_applications.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

def adder(ele1,ele2):
   return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print("printing the results of pipe")
print(df.pipe(adder,2))

       col1      col2      col3
0  0.591864 -0.435851 -0.274762
1  0.791941  0.425064 -0.076110
2  1.536629  0.846671 -0.026672
3  1.042398 -0.561823 -2.048926
4  3.017264  1.189365  1.073336
printing the results of pipe
       col1      col2      col3
0  2.591864  1.564149  1.725238
1  2.791941  2.425064  1.923890
2  3.536629  2.846671  1.973328
3  3.042398  1.438177 -0.048926
4  5.017264  3.189365  3.073336

In [ ]:
import pandas as pd
import numpy as np

def adder(ele1,ele2):
   return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

print (df.apply(np.mean))

       col1      col2      col3
0  1.401713 -0.289858  1.235321
1 -0.214190 -2.367352 -1.378470
2  0.019042  0.796603 -1.265485
3 -1.193696  1.910620  0.869948
4 -0.725402 -0.247105 -0.597803
col1   -0.142507
col2   -0.039418
col3   -0.227298
dtype: float64

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

print (df.apply(np.mean,axis=1))

       col1      col2      col3
0  0.593518 -0.382410  1.672841
1  0.320127  0.947507  0.857591
2  0.902352  0.107983 -1.410754
3 -1.132600 -1.515225 -1.097842
4 -1.554600  1.003760 -0.653362
0    0.627983
1    0.708408
2   -0.133473
3   -1.248556
4   -0.401400
dtype: float64

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

print(df['col1'].map(lambda x:x*100))

       col1      col2      col3
0 -0.461476 -0.952464 -0.274546
1 -0.435104  1.925122 -0.681345
2 -1.424064 -0.311215 -0.197979
3  1.149334 -0.078605 -1.574756
4  0.248641  0.095114 -0.019109
0    -46.147585
1    -43.510421
2   -142.406358
3    114.933353
4     24.864143
Name: col1, dtype: float64

In [ ]:
df=pd.DataFrame({'id':[1,2,3,4,5],'name':['abc','defg','ghs','eeee','wwww'],'age':[11,22,33,44,55], 'income':[9999,8888,7777,6666,5555]})
print(df)

   id  name  age  income
0   1   abc   11    9999
1   2  defg   22    8888
2   3   ghs   33    7777
3   4  eeee   44    6666
4   5  wwww   55    5555

In [ ]:
df['age']=df.apply(lambda x: x['age']+3, axis=1)
print(df)

   id  name  age  income
0   1   abc   14    9999
1   2  defg   25    8888
2   3   ghs   36    7777
3   4  eeee   47    6666
4   5  wwww   58    5555

In [ ]:
list(filter(lambda x:x>18, df['age']))

[25, 36, 47, 58]

In [ ]:
df['income']=list(map(lambda x: int(x+x*0.2), df['income']))
print(df)

   id  name  age  income
0   1   abc   14   11998
1   2  defg   25   10665
2   3   ghs   36    9332
3   4  eeee   47    7999
4   5  wwww   58    6666

In [ ]:
import functools

functools.reduce(lambda a,b: a+b, df['income'])

46660

In [ ]:
df['category']=df['age'].apply(lambda x: 'Adult' if x>=18 else 'Child')
print(df)

   id  name  age  income category
0   1   abc   14   11998    Child
1   2  defg   25   10665    Adult
2   3   ghs   36    9332    Adult
3   4  eeee   47    7999    Adult
4   5  wwww   58    6666    Adult